/* styles.css */
body {
    background: url('Screenshot 2023-12-28 204636.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
